@media(max-width:992px){
    
/*MATY: HEADER*/
    
/*FIN HEADER MATY*/



/*HERO: CESAR*/

/*FIN HERO CESAR*/



/*DISCOVER: FABI*/

/*FIN DISCOVER FABI*/



/*CATEGORIES: MAX*/

/*FIN CATEGORIES MAX*/



/*PRODUCTS: AYE*/

/*FIN PRODUCTS AYE*/



/*FOOTER: MATY*/

/*FIN FOOTER MATY*/


}


@media(max-width:576px){

/*MATY: HEADER*/
    
/*FIN HEADER MATY*/



/*HERO: CESAR*/

/*FIN HERO CESAR*/



/*DISCOVER: FABI*/

/*FIN DISCOVER FABI*/



/*CATEGORIES: MAX*/

/*FIN CATEGORIES MAX*/



/*PRODUCTS: AYE*/

/*FIN PRODUCTS AYE*/



/*FOOTER: MATY*/

/*FIN FOOTER MATY*/

}