@media(max-width:992px){
    .hero__informacion{
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap:20px;
    }
    .hero__informacion h1{
        width: 80%;
        max-width: 500px;
        min-width: unset;
    }
    .hero__imagenes{
        display: none;
    }
}

    
/*MATY: HEADER*/
    
/*FIN HEADER MATY*/



/*HERO: CESAR*/

/*FIN HERO CESAR*/



/*DISCOVER: FABI*/

/*FIN DISCOVER FABI*/



/*CATEGORIES: MAX*/

/*FIN CATEGORIES MAX*/



/*PRODUCTS: AYE*/

/*FIN PRODUCTS AYE*/



/*FOOTER: MATY*/

/*FIN FOOTER MATY*/





@media(max-width:576px){

/*MATY: HEADER*/
    
/*FIN HEADER MATY*/



/*HERO: CESAR*/

/*FIN HERO CESAR*/



/*DISCOVER: FABI*/

/*FIN DISCOVER FABI*/



/*CATEGORIES: MAX*/

/*FIN CATEGORIES MAX*/



/*PRODUCTS: AYE*/

/*FIN PRODUCTS AYE*/



/*FOOTER: MATY*/

/*FIN FOOTER MATY*/

}