@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --bg-negro: #131415;
    --bg-gris: #252525;
    --texto: #FFFFFF;
    --bg-amarillo: #FFA400;
    --bg-rojo: #FC2933;
    --bg-gradient: linear-gradient(to right, #FFA100, #FB103D);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    
}

body{
    background: var(--bg-negro);
}


/*MATY: HEADER*/
    
/*FIN HEADER MATY*/



/*HERO: CESAR*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#hero{
    width: 100%;
    margin-top: 60px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--texto)
}

.hero__informacion{
    display: flex;
    flex-direction: column;
    gap:15px;
    width: 50%;
}

.hero__informacion h1{
    font-size: 50px;
    width: 80%;
    min-width: 320px;
    font-weight: 800;
}

.hero__informacion p{
    font-size: 14px;
    width: 70%;
}

.btn {
    color: var(--texto);
    background:var(--bg-gradient) ;
    width: 120px;
    padding: 8px 0;
    border-radius: 1rem;
    font-size: 14px;
    text-align: center;
}

.hero__imagenes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 0;
}

.hero--pizzas{
width: 20%;
}
/*FIN HERO CESAR*/



/*DISCOVER: FABI*/

/*FIN DISCOVER FABI*/



/*CATEGORIES: MAX*/

/*FIN CATEGORIES MAX*/



/*PRODUCTS: AYE*/

/*FIN PRODUCTS AYE*/



/*FOOTER: MATY*/

/*FIN FOOTER MATY*/




